<%-include ("./partials/navbar.ejs") %>

<div class="about-wrappers">
    <div class="info">
        <div class="about-title">
           <h3>About Harshit Singh</h2> 
        </div>

        <div class="para-first">
            <div class="para-imgs">
            
            </div>

        <p class="text-up">After graduating in 2023 with a Bachelor’s Degree (First Class Honours) in Computer Science and Engineering, I spent the last years working both as a freelance web developer and designer and as part of a team in various companies across india. I acquired project and time management skills, as well as the ability to communicate with team members and clients while effectively meeting milestones and deadlines.</p>

        </div>
    

        <!-- <p>I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.</p> -->

        <!-- <p>My main experience is in front-end development but I also have a passion for design. Given that producing a modern website requires the combination of design, server technology, and the layer that users interacts with, I believe having experience in both design and development allows for making the most optimal user experiences</p> -->

        <p>I have worked on a multitude of web and print based projects for a range of clients providing Web Design (Photoshop, Illustrator, InDesign) and Development (HTML, CSS, JS, jQuery, Bootstrap, Responsive Layouts), eCommerce Solutions, Corporate Branding and Graphic Design. During my CSE degree I studied Information Architecture, and therefore have a keen understanding designs which I put to good use on every project I work on.</p> 
     <p><a href="">My clients</a> have found that hiring me has saved them time and money, made it easier to grow their website alongside their business, and made for a product that is consistently of high quality.</p>

        <p>I am currently working in bhopal. I am always available to discuss your project over the phone or via Skype. These days I enjoy spending my free time reading books, exercise and making games.</p>

       
</div>
</div>


<%-include ("./partials/footer.ejs") %>