<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->
    
    <link rel="stylesheet" href="/css/allPage.css">
    
    <title>Document</title>
</head>
<body>

    <div class="wrapper"> 

    <!-- nav-starts -->
    <div  class="p-2 m-1 border-0 bd-example m-0 border-0"></div>
    <nav class="navbar">
     
     <a href=""><img class="logo" src="./imgaes/83-834730_logo-in-logo-cool-logos.png" alt="logo"></a>
     <ul class="first">
       <li  class="list-item"> <a class="color-change" href="/">Home</a></li>
       <li class="list-item"> <a class="color-change" href="/portfilo">Portfilo</a></li>
       <li class="list-item"> <a class="color-change" href="/about">About</a></li>
       <li class="list-item"><a class="color-change" href="/servies">Services</a></li>
       <li class="list-item"><a class="color-change" href="/clients">Clients</a></li>
       <li class="list-item"><a class="color-change" href="/contact">Contact</a></li>
     </ul>
     <div class="hidden-lg" id="main">
 <button class="openbtn " onclick="openNav()">☰</button>

</div>
     <div id="mySidebar" class="sidebar">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
       <ul>
         <li class="side-list" > <a href="">Home</a></li>
         <li class="side-list"> <a href="#">Portfilo</a></li>
         <li class="side-list"> <a href="#">About</a></li>
         <li class="side-list"><a href="#">Services</a></li>
         <li class="side-list"><a href="#">Clients</a></li>
         <li class="side-list"><a href="#">Contact</a></li>
       </ul>
     </div>
   

    </nav>

    
 <main class="container-ms"> 
   <div class="title">
       <h1 class="heading">
         Freelance Web Designer &amp; Developer based in Bhopal, India.</h1>
<p class="title-side">Highly experienced in designing &amp; developing custom websites. </p>
     </div>
     
     </main>


    <div class="p-cards">
  
    <div class="p-card-img2">
        
        <p class="p-card-1">Dog-tin</p>
        <p  class="p-card-2">Logo,Web Desgine & Development</p>
        <div class="fa">
          <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/TinDog/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>
    
    <div class="p-card-img3">
       
        <p class="p-card-1">Base Apparel</p>
        <p  class="p-card-2" >Logo & Web Desgine</p>
        <div class="fa">
          <a class="color-change-port"  href="https://base-apparel-coming-soon-page-9bae.onrender.com/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card-img4">
        
        <p class="p-card-1">Knight Game</p>
        <p class="p-card-2">Web Desgine & Development</p>
        <div class="fa">
          <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/Knight-game./"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card-img5">
       
        <p class="p-card-1">Todo Apllication</p>
        <p  class="p-card-2">Web Desgine & Development</p>
        <div class="fa">
          <a class="color-change-port"  href="https://personal-todo-list-7cnz.onrender.com/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card-img6">
     
        <p class="p-card-1">Drum Kit</p>
        <p  class="p-card-2">Web Desgine & Game</p>
        <div class="fa">
          <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/Drum.ket/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card-img7">
        
        <p class="p-card-1">Joke Master</p>
        <p  class="p-card-2">Logo,Web Desgine & Development</p>
        <div class="fa">
          <a class="color-change-port"  href="https://joke-master.onrender.com/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card">
         
        <p class="p-card-1">Books Station</p>
        <p  class="p-card-2">Logo,Web Desgine & Development,eCommerce</p>
        <div class="fa">
          <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/The-Simon-game/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
            </div>
    </div>

    <div class="p-card-img1">
    
        <p class="p-card-1">Simon Game</p>
        <p  class="p-card-2">Web design & Game</p>
        <div class="fa">

            <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/The-Simon-game/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>

            </div>
    </div>

    <div class="p-card">
      <div class="setup">

          
      </div>
           <p class="p-card-1">UrbanCrazeApparel</p>
      <p  class="p-card-2">Logo,Web Desgine & Development,eCommerce</p>
      <div class="fa">
        <a class="color-change-port"  href="https://harshit-singh-sengar.github.io/The-Simon-game/"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>View project</button></a>
          </div>
  </div>


</div>


</div>
<footer>
    <div class="wrap">
      <div class="footer-wall"> </div>
      
                  <div class="wrap_social_account">
      <ul class="list-inline social_account__item">
    
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-rss"></a>
          
    
      </div>
            
      <!-- footer menu -->
      <div class="footer-menu">
        <ul class="second">
          <li  class="second-list"> <a class="second-menu" href="/">Home</a></li>
        <li class="second-list"> <a class="second-menu" href="/portfilo">Portfilo</a></li>
        <li class="second-list"> <a class="second-menu" href="/about">About</a></li>
        <li class="second-list"><a class="second-menu" href="/servies">Services</a></li>
        <li class="second-list"><a class="second-menu" href="/clients">Clients</a></li>
        <li class="second-list"><a class="second-menu" href="/contact">Contact</a></li>
        </ul>
    
      </div>
    
    <div class="footer-content">
        <p>© <span id="display"></span> Harshit Singh Inc. All rights reserved</p>                          
    </div>                
                                            
      
    <!-- footer ends -->
    
  </div>  
    </footer>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
       

 <script src="/dyanmic-portfilo/public/js/subFunction.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>