<%-include ("./partials/navbar.ejs") %>


   <!-- cards  -->


   <div class="cards-S">

    <div class="card1-S">
    <img src="./imgaes/galway-website-design.png" alt="">
    <h3>Website Design</h3>
    <p>Our approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
    <div class="fa">
      <a class="color-change-port"  href="/web"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
      </div>
  </div>
  
  <div class="card1-S">
    <img src="./imgaes/galway-wordpress-theme-development.png" alt="">
    <h3>Custom Theme Development</h3>
    <p>We specialize in crafting bespoke custom theme websites that not only reflect your unique brand identity but also provide an unparalleled user experience.</p>
    <div class="fa">
      <a class="color-change-port"  href="/web2"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
      </div>
  </div>
  
  <div class="card1-S">
    <img src="./imgaes/galway-wordpress-training-tutoring.png" alt="">
    <h3>Top-Notch Website layout</h3>
    <p>Elevate your digital presence with our top-notch solutions tailored to meet the unique needs of your business.</p>
    <div class="fa">
      <a class="color-change-port"  href="/web3"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
   </div>
  </div>

  <div class="card1-S">
    <img src="./imgaes/galway-ecommerce-solution.png" alt="">
    <h3>eCommerce Solution</h3>
    <p>"Transform your online business with our advanced eCommerce solution, offering seamless shopping, secure payments, and customizable storefronts. Streamline operations and boost sales with user-friendly interfaces and advanced analytics."</p>
    <div class="fa">
      <a class="color-change-port"  href="/web4"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
   </div>
  </div>

  <div class="card1-S">
    <img src="./imgaes/galway-responsive-website-design-layout.png" alt="">
    <h3>Responsive Website Design Layouts</h3>
    <p>Having a responsive layout means that your website fluidly resizes for optimal viewing regardless of the screen size or device (e.g. iPhone, iPad).</p>
    <div class="fa">
      <a class="color-change-port"  href="/web5"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
   </div>
  </div>
  
  <div class="card1-S">
    <img src="./imgaes/galway-seo.png" alt="">
    <h3>SEO (Search Engine Optimisation)</h3>
    <p>SEO is the practice of improving and promoting a website in order to increase the number of visitors it receives.</p>
    <div class="fa">
      <a class="color-change-port"  href="/web6"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Learn more</button></a>
   </div>
  </div>
  
  </div>
  
  <!-- cards end -->


  

<%-include ("./partials/footer.ejs") %>