<%-include ("./partials/navbar.ejs") %>


<div class="wrapper-ser">
  <div class="desp-ser">
      <h3 class="title-desps">Website Design — Creating the look & feel of your website</h3>
      <p>simplicity stands as a golden rule, a guiding principle that transforms user experience into an enjoyable and positive journey. Whether your audience is delving into content, watching a video, or enrolling in a course, every interaction should exude clarity and conciseness. At our core, we champion an approach that not only fortifies your company's brand identity but also prioritizes the seamless ease of use for your audience.</p>
      <h3 class="title-desp">Streamlined Functionality</h3>
      <p>The website design process starts with a pen and paper to sketch page layouts, wire-frames, sitemaps and menu structures. Digital design concepts are then created incorporating your company’s brand guidelines for a personalised look and feel. You will be presented with a variety of website design concepts to review. Feedback on the design concepts is essential to give you the opportunity to express your thoughts on the design and make alterations where desired before the final sign-off.</p>
      <h3 class="title-desp">Website Development — Building your website</h3>
      <p>The website development process starts by taking the graphical elements (colours, fonts, layout, images) defined in the design process and coding them using web industry standards (PHP, HTML5, CSS3, JS, jQuery). This is typically done by first coding the home page, followed by templates for the interior pages. When the website is ready for review you will be supplied with login details to view the website before it is launched to the public. You will also be supplied with instructions on how to update your website.

        All of the websites that we create have been built using tailor-made, custom themes which have been coded from scratch.</p>



  </div>

  <div class="selection-ser" >
        <div class="cards-S">

            <div class="card1-S">
      <img src="./imgaes/galway-website-design.png" alt="">
      <h3>Website Design</h3>
      <p>Our approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
      <div class="fa">
       
        <a class="color-change-port"  href="/contact"><button class="btn-primary btn-block"><i class="fa fa-chevron-circle-right fa-align-right"></i>Enquire</button></a>
        </div>
    </div>
    </div>

    <div class="selection-menu" >
      <div>
      <h4 class="title-desp" >Other Services</h4>
      <hr> 
  </div>
      
      <div class="seletion-items">
          <img class="small-des"  src="./imgaes/galway-website-design.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web">Website Design</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>

      <div class="seletion-items">
          <img class="small-des" src="./imgaes/galway-wordpress-theme-development.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web2">Custom Theme Development</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>

      <div class="seletion-items">
          <img class="small-des" class="color-change-port" src="./imgaes/galway-wordpress-training-tutoring.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web3">Top-Notch Website layout</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>

      <div class="seletion-items">
          <img class="small-des" src="./imgaes/galway-ecommerce-solution.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web4">eCommerce Solution</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>

      <div class="seletion-items">
          <img class="small-des" src="./imgaes/galway-responsive-website-design-layout.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web5">Responsive Website Design Layouts</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>

      <div class="seletion-items">
          <img class="small-des" src="./imgaes/galway-seo.png" alt="">
          <div class="fa">
              <a class="color-change-port" href="/web6">SEO (Search Engine Optimisation)</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
              </div>
      </div>
    </div>

    <div class="wrapper-icons">
    <div class="wrap_social_account">
      <div class="row-icon">

      
       <h4 class="title-desp" >share</h4>
      <ul class="list-inline social_account__item">
         
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-instagram"></a>
    </div>
      </div>

  </div>
</div>

</div>


  

<%-include ("./partials/footer.ejs") %>