<%-include ("./partials/navbar.ejs") %>


<div class="wrapper-ser">
  <div class="desp-ser">
      <h3 class="title-desps">Designing Websites for All Devices — Optimized for Desktops, Laptops, Tablets, and Smartphones</h3>
      <p>In the dynamic world of digital interaction, it's crucial for your online presence to match the versatility of your audience's devices, We are dedicated to achieving excellence in web design that transcends every screen dimension, guaranteeing seamless visual appeal and functionality across desktops, laptops, tablets, and smartphones.</p>
      
      <p>Sales of mobile devices have already surpassed that of desktop computers and laptops. And it is predicated that mobile internet usage will begin to out-shadow desktop computer and laptop internet usage in 2014. More than a quarter of all Google searches are now taking place from mobile devices. As the number of people using mobile devices to access the internet grows, your audience can grow with it by utilising a responsive layout for your website.</p>
      



  </div>

  <div class="selection-ser" >
        <div class="cards-S">
            <div class="card1-S">
                <img src="./imgaes/galway-responsive-website-design-layout.png" alt="">
                <h3>Responsive Website Design Layouts</h3>
                <p>Having a responsive layout means that your website fluidly resizes for optimal viewing regardless of the screen size or device (e.g. iPhone, iPad).</p>
                <div class="fa">
               <button class="btn-primary btn-block"><a href="/web5"></a>Learn more<i class="fa fa-chevron-circle-right fa-align-right"></i></button>
               </div>
              </div>
       
    </div>
    <div class="selection-menu" >
        <div>
        <h4 class="title-desp" >Other Services</h4>
        <hr> 
    </div>
        
        <div class="seletion-items">
            <img class="small-des"  src="./imgaes/galway-website-design.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web">Website Design</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-wordpress-theme-development.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web2">Custom Theme Development</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" class="color-change-port" src="./imgaes/galway-wordpress-training-tutoring.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web3">Top-Notch Website layout</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-ecommerce-solution.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web4">eCommerce Solution</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-responsive-website-design-layout.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web5">Responsive Website Design Layouts</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-seo.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web6">SEO (Search Engine Optimisation)</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
      </div>

    <div class="wrapper-icons">
    <div class="wrap_social_account">
      <div class="row-icon">

      
       <h4 class="title-desp" >share</h4>
      <ul class="list-inline social_account__item">
         
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-instagram"></a>
    </div>
      </div>

  </div>
</div>

</div>


  

<%-include ("./partials/footer.ejs") %>