<%-include ("./partials/navbar.ejs") %>


<div class="wrapper-ser">
  <div class="desp-ser">
      <h3 class="title-desps">Website Search Engine Optimisation</h3>
      <p>SEO is a crucial aspect of digital marketing, providing numerous advantages to businesses. It improves online visibility, driving organic traffic and enhancing user experience, which, in turn, builds credibility and trust. Its cost-effectiveness, adaptability to market changes, and provision of insightful analytics contribute to its significance. SEO's global reach allows businesses to connect with diverse audiences, gaining a competitive edge. As a long-term strategy, SEO ensures sustained growth by keeping a website relevant and engaging for its target audience.</p>
<h3 class="title-desp">Performance</h3>
      <p>effective SEO directly correlates with increased profitability by optimizing the factors that drive customer acquisition, retention, and overall business success.</p>
      <h3 class="title-desp">Google Places</h3>
      <p>Google Places was a service provided by Google that allowed businesses to create and manage their online presence on Google. In order to set-up a Google Places listing Google must post a PIN number to your company’s address. This verification adds a level of trust to your website for the visitors and for the Google search engines</p>
      <h3 class="title-desp">Google Analytics</h3>
      <p> Google Analytics is a service that generates detailed statistics about a website’s traffic, visitor’s keywords, number of visitors, how the visitors have found your website and where they have accessed it from. Using this information it is possible to improve the flow of visitors to your website by fine-tuning the SEO.</p>
      <h3 class="title-desp">Google AdWords</h3>
      <p>Google AdWords is a service that advertises your website at the top of the Google listings when a user searches for your specific keywords. Google displays the advertisement for free but has a ‘pay per click’ system which means that you will be charged every time a user clicks on your ad. You’ll start by choosing a daily budget that you are comfortable with, and then change it at any time. There’s no minimum spend and you’re not locked into a contract.</p>





  </div>

  <div class="selection-ser" >
        <div class="cards-S">

            <div class="card1-S">
                <img src="./imgaes/galway-seo.png" alt="">
                <h3>SEO (Search Engine Optimisation)</h3>
                <p>SEO is the practice of improving and promoting a website in order to increase the number of visitors it receives.</p>
                <div class="fa">
               <button class="btn-primary btn-block"><a href="/web6"></a>Learn more<i class="fa fa-chevron-circle-right fa-align-right"></i></button>
               </div>
              </div>
    </div>
    <div class="selection-menu" >
        <div>
        <h4 class="title-desp" >Other Services</h4>
        <hr> 
    </div>
        
        <div class="seletion-items">
            <img class="small-des"  src="./imgaes/galway-website-design.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web">Website Design</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-wordpress-theme-development.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web2">Custom Theme Development</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" class="color-change-port" src="./imgaes/galway-wordpress-training-tutoring.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web3">Top-Notch Website layout</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-ecommerce-solution.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web4">eCommerce Solution</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-responsive-website-design-layout.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web5">Responsive Website Design Layouts</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
  
        <div class="seletion-items">
            <img class="small-des" src="./imgaes/galway-seo.png" alt="">
            <div class="fa">
                <a class="color-change-port" href="/web6">SEO (Search Engine Optimisation)</a><i class="fa fa-chevron-circle-right fa-align-right"></i>
                </div>
        </div>
      </div>

    <div class="wrapper-icons">
    <div class="wrap_social_account">
      <div class="row-icon">

      
       <h4 class="title-desp" >share</h4>
      <ul class="list-inline social_account__item">
         
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-pinterest"></a>
    <a href="#" class="fa fa-instagram"></a>
    </div>
      </div>

  </div>
</div>

</div>


  

<%-include ("./partials/footer.ejs") %>